body #root {
    position: relative;

    canvas#gradient-canvas {
        position: absolute;
        top: 0;
    }
}

h1, h2 {
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark;
}

.text-white {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}