.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link-dark  {
    padding-left: 17px;
    
    svg {
        fill: #fff;
        width: 10px;
        height: 10px;
        margin: 0 5px 0 8px;
        transition: .1s;
    }

    &:hover svg {
        margin: 0 0 0 13px;
    }
}

.btn-primary {
    color: #fff !important;
}

.btn-light {
    color: #000;
}

.btn-secondary, .btn-success {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.btn-link-dark {
    font-weight: 700;
    
    svg {
        fill: #160A32;
    }
}