@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$port-primary: #1C90FD;
$port-secondary: #7F30FF;

// Colors
$primary-shade: $port-primary;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: $port-secondary;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);

// Reassign color vars to semantic color scheme
$red: #DE0043;
$yellow: #FFB51F;
$green: #28a745;
$cyan: #008EDE;
$white: #fff;
$gray-100: #E7E7E7;
$gray-800: #464646;
$dark: #160A32;
$theme-colors: ( primary: $primary-shade, secondary: $accent-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $dark);
$brand-primary: $accent-shade;

// Typography
$font-family-base: 'Poppins', sans-serif;

// General
$enable-rfs: false;
$body-color: #160A32;

// Buttons
$btn-font-weight: 600;
$btn-border-radius: 20px;

// Navbar
$navbar-nav-link-padding-x: 2rem;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 912px,
  xl: 960px,
  xxl: 1000px
);

// Headings
$headings-margin-bottom:      .5rem;
$headings-font-style:         null;
$headings-font-weight:        bold;
$headings-line-height:        1.2;
$headings-color:              inherit;